* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#contacto {
    background-image: url(/IMAGES/pexels-sebastian-coman-travel-3448793.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.navbar {
    background-color: #f8f9faff;
    ;
}

.d-block {
    object-fit: cover;
}

#logo {
    height: 12vh;
}

.carousel-caption {
    bottom: 22.25rem !important;
    font-size: 40px;
    font-weight: bolder;
    /* text-shadow: -0.17em 0.1em 0.1em black; */
}

.carousel-caption h5 {
    font-weight: bolder;
    font-size: 25px;
}

footer {
    background-color: #dee2e6ff;
}

footer p {
    font-weight: bold !important;
    color: #212529ff !important;
}

.imgFooter {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}

#logoFooter {
    max-height: 25vh;
}


/* contacto */

.formulario {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.formulario fieldset {
    padding: 0.5rem;
}

.mover-radio {
    padding: 10rem;
}


/* contacto */

iframe {
    border-radius: 100px;
}


/* FARMACIA */

.titulo {
    text-align: center;
}

.productos {
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 2rem;
}